body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  background: linear-gradient(180deg, rgba(242, 255, 57, 0.4) 60%, #b6d3d300 80%);
  position: relative;
  
}

button {
	cursor: pointer;
}